
<p>Proyecto con MongoDB, carritos, paginación y vistas Handlebars.</p>

<h2>Secciones disponibles</h2>
<ul>
  <li><a href="/products">Ver lista de productos. (con paginación)</a></li>
  <li><a href="/api/products">API de productos. (JSON)</a></li>
  <li><a href="/api/carts">API de carritos.</a></li>
</ul>

